In [1]:
import pandas as pd
import numpy as numpy
import seaborn as sns
import matplotlib as plt
import os

In [2]:
alcodf=pd.read_csv('cardio_alco.csv', sep=';')
basedf=pd.read_csv('cardio_base.csv', sep=',')
covidf=pd.read_csv('covid_data.csv', sep=',')
covidf.head()

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5

In [3]:
basedf.head()

   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0   0  18393       2     168    62.0    110     80            1      0
1   1  20228       1     156    85.0    140     90            3      0
2   2  18857       1     165    64.0    130     70            3      0
3   3  17623       2     169    82.0    150    100            1      0
4   4  17474       1     156    56.0    100     60            1      0

In [7]:
#convert age from days to years
basedf['age']=basedf['age']//365

In [13]:
# return row(s) with the maximum age
max_age_rows = basedf[basedf['age'] == basedf['age'].max()]
max_age_rows

          id  age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
23        33   64       2     156    45.0    110     60            1      0
38        52   64       2     162    72.0    130     80            1      1
70        95   64       1     155    57.0    120     80            1      0
72        97   64       1     156    58.0    110     70            1      0
142      191   64       2     169    73.0    140     90            1      0
...      ...  ...     ...     ...     ...    ...    ...          ...    ...
69862  99781   64       2     166    99.0    120     80            1      0
69865  99785   64       1     149    49.0    115     75            1      0
69896  99837   64       1     150    69.0    120     80            1      0
69936  99906   64       2     171    70.0    140     90            1      0
69944  99922   64       2     170    97.0    130     90            2      0

[2187 rows x 9 columns]

In [15]:
# average weight for each age (age already converted to years in basedf)
avg_weight_by_age = basedf.groupby('age', as_index=False)['weight'].mean().rename(columns={'weight': 'avg_weight'})
avg_weight_by_age['avg_weight'] = avg_weight_by_age['avg_weight'].round(2)
avg_weight_by_age = avg_weight_by_age.sort_values('avg_weight', ascending=False)
avg_weight_by_age

    age  avg_weight
26   63       75.87
24   61       75.71
22   59       75.36
18   55       75.27
20   57       75.12
14   51       75.10
10   47       74.70
16   53       74.64
21   58       74.62
27   64       74.62
8    45       74.37
19   56       74.27
11   48       74.16
25   62       74.05
23   60       74.00
17   54       73.98
6    43       73.98
12   49       73.93
15   52       73.43
13   50       73.07
4    41       72.90
7    44       72.73
9    46       72.72
2    39       72.29
5    42       71.68
3    40       70.91
0    29       70.00
1    30       59.00

In [25]:
#how higher is people over 50 holestrol levels than the rest
over_50 = basedf[basedf['age'] > 50]['cholesterol'].mean()
under_50 = basedf[basedf['age'] <= 50]['cholesterol'].mean()
difference =(over_50 - under_50) *100 / under_50
difference

14.688646432138018

In [30]:
#are men likely to be a smoker than women
men_smoker = basedf[(basedf['gender'] == 1) & (basedf['smoke'] == 1)]
women_smoker = basedf[(basedf['gender'] == 0) & (basedf['smoke'] == 1)]
men_smoker_count = men_smoker.shape[0]
women_smoker_count = women_smoker.shape[0]
men_smoker_count, women_smoker_count

(813, 0)